body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 100%;
    text-transform: none;
    text-align: left;
    background-color: rgb(230,230,230);
}
input[type="range"] {
    -webkit-box-shadow: 0 1px 0 0px #424242, 0 1px 0 #060607 inset, 0px 2px 10px 0px black inset, 1px 0px 2px rgba(0, 0, 0, 0.4) inset, 0 0px 1px rgba(0, 0, 0, 0.6) inset;
    margin-top: 2px;
    background-color: #272728;
    border-radius: 15px;
    width: 400px;
    -webkit-appearance: none;
    height:10px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: e-resize;
    top: -5px;
    height: 30px;
    width: 20px;
    transform: translateY(-4px);
    background: none repeat scroll 0 0 #777;
    border-radius: 15px;
    -webkit-box-shadow: 0 -1px 1px black inset;
}
.site_footer{_position:relative;_zoom:1;_background-image:url(about:black);background-color:#EBEBEB;clear:both;overflow:hidden}
.site_footer .footer_inner{width:1240px;background-color:rgb(230,230,230);margin:25px auto 10px}
.mod_footer{line-height:30px;background-color:rgb(230,230,230);padding:15px 0;text-align:center;color:#838383}
.mod_footer a{color:#838383}
.mod_footer a:hover{color:#ff7800}
.site_footer .mod_footer_contentinfo{padding:15px 0 20px 80px;*zoom:1;overflow:hidden;background-color:#fff;background-image:url(about:blank)}
.site_footer .contentinfo_column{position:relative;*zoom:1;float:left;_display:inline;width:320px;margin-right:40px;padding-right:40px;border-right:1px solid #E1E1E1}
.site_footer .contentinfo_column ul{font-size:0;letter-spacing:-0.31em}
.site_footer .contentinfo_column li{display:inline-block;*display:inline;*zoom:1;margin-right:20px;padding-top:6px;letter-spacing:normal;vertical-align:top;font-size:12px}
.site_footer .contentinfo_column .item_3{width:3em}
.site_footer .contentinfo_column .item_4{width:4em}
.site_footer .contentinfo_column a{color:#595959}
.site_footer .contentinfo_column a:hover{color:#ff7800}
.site_footer .contentinfo_column .contentinfo_title{display:block;padding-bottom:5px;color:#979797;font-size:14px}
.site_footer .contentinfo_channel li{width:2em}
.site_footer .contentinfo_feature{width:160px}
.site_footer .contentinfo_download{width:245px}
.site_footer .contentinfo_service{width:140px;margin-right:0;border-right:none}
.site_footer .mod_footer_partners{position:relative;zoom:1;background-color:#F7F7F7;padding:20px 0 15px 160px;border-bottom:1px solid #DDD}
.site_footer .partner_title{position:absolute;top:24px;left:80px;height:40px;font-size:14px;color:#979797;vertical-align:top}
.site_footer .partner_row{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin:2px auto 4px}
.site_footer .partner_label{float:left}
.site_footer .partner_links{color:#a1a1a1;line-height:28px}
.site_footer .partner_links a{display:inline-block;_display:inline;_zoom:1;padding:0 8px;color:#6d6d6d}
.site_footer .partner_links a:hover{color:#ff7800}
#form_top{display:block; bottom:3px; right:3px; position:fixed;}
    .top_img{
    background-image: url("to-top.png");
    width: 40px;
    height:40px;
    cursor: pointer;
